{% extends "allauth/layouts/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %} Вход {% endblock %}

{% block content %}

<h1 class="fw-bolder mb-1">Вход</h1>
<p></p>
<p></p>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Ещё нет аккаунта? <a href="{{ signup_url }}">Зарегистрируйтесь</a>
  {% endblocktrans %}</p>
    <p></p>

  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  <p>{% blocktrans %}Ещё нет аккаунта?
  <a href="{{ signup_url }}">Зарегистрируйтесь</a>{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
<!--  <a class="btn btn-primary" href="{% url 'account_reset_password' %}">Забыли пароль?</a>-->
  <input class="btn btn-primary" type="submit" value="Войти" />
</form>

{% if socialaccount_providers %}
  <p>Или войдите с помощью других сервисов:</p>

  <div class="col-lg-8">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
    <p></p>
    <p></p>
  </div>
{% endif %}
{% endblock %}